.search-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-input{
    padding: 8px 15px;
    font-size: 15px;
    width: 250px;
    border-width: 0px;
    background: rgb(226, 72, 226);
    color: white;
}
.search-input::placeholder{
    color: white;
}